.navbar {
    height: 60px;
    width: 100%;
    position: fixed;
    z-index: 2;
    // background-color: #2C3531;
    background-color: #bde8f1;

    .link {
        text-decoration: none;
        // color: #ffcb9a;
        color: #0d0d0d;
    }
}



.nav-drawer {
    .link {
        text-decoration: none;
        // color: #ffcb9a;
        color: #0d0d0d;
    }
}